body {
    font-family:"poppins";
    background-color: #333;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin: auto;
}

.main h1 {
    color: #333;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkbox label {
    font-size: 16px;
    color: #333;
    display: block;
    margin: 10px 0 5px;
}

.checkbox {
    text-align: left;
    margin: 10px 0;
}

.checkbox input {
    margin-right: 10px;
}

.pass button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    width: 100%;
}